* {
    padding:0;
    margin:0;
    text-decoration: none;
}

body {
    background-color: rgba(199, 222, 241, 0.668);
}

.userProfile {
    display:flex;
    float:right;
    margin:10%;
    z-index:1;
}

.userProfile .profileBox{
    background-color: rgba(168, 197, 221, 0.668);
    width:330px;
    height:28vh;
    border:1px solid black;
    border-radius:10px;
}


.userProfile .menuButton {
    background-color:rgba(147, 173, 194, 0.668);
    font-size:20px;
    padding:10px;
    float:right;
    border:1px solid black;
    border-radius:10px;
    cursor: pointer;
}

.popUp {
    position:absolute;
    z-index:10;
    visibility: hidden;
}

.popUp .popUpMenu {
    color:black;
    background-color: white;
    height:28vh;
    width:330px;
    position:absolute;
    border: 1px solid black;
    display:grid;
    grid-template-rows: 25% 25% 30% 20%;
    white-space: nowrap;
}
.popUpMenu button {
    margin-left:auto;
    margin-right:auto;
    display:block;
    height:2em;
    margin-top:2em;
    width:10em;
}

#signUpButton {
    display:inline-flex;
    border:none;
    background-color: inherit;
    cursor:pointer;
}

#loginButton {
    display:inline-flex;
    border:none;
    background-color: inherit;
    cursor:pointer;
}

.popUpMenu label{
    padding:20px;
    margin:20px;
}

.popUpMenu .inputBox {
    padding:5px;
}

.popUp .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#welcome{
    visibility:visible;
}

#uploadImage{
    visibility:hidden;
}

#imageLabel{
    display:block;
    width:fit-content;
    background-color: rgba(0, 0, 0, 0.185);
    padding:10px;
    cursor:pointer;
}

#profilePic{
    float: right;
    width:20%
}

#game{
    text-align:center;
}

#imageUpload .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#news{
    text-align: center;
    font-family:Roboto;
    color:rgb(93, 74, 102);
}

#largeBuckle{
    position:absolute;
    width:40%;
    display:block;
    margin-top:10%;
    margin-left:5%;
}

.banner{
    background-color: rgb(41, 41, 41);
    font-family: Roboto, sans-serif;
    color:white;
    position:sticky;
    height:10%;
    white-space: nowrap;
}

.banner h1{
    font-family:Bubblegum, sans-serif;
    text-align:center;
    padding:2%;
}

.banner ul li{
    text-align: center;;
    display:inline-block;
    width:33%;
}

.banner ul li a {
    color: inherit;
    display: block;
    padding:20px;
}

#newsTable{
    text-align:left;
}

.tableImage{
    width: 40%;
}

#homeButton{
    border-bottom: 2px solid rgb(255, 0, 0)
}

#gamesButton{
    border-bottom: 2px solid rgb(255, 0, 242)
}

#fyButton{
    border-bottom: 2px solid rgb(0, 255, 34)
}

/*Fonts*/

@font-face{
    font-family:Bubblegum;
    src:url(Fonts/Bubblegum_Sans/BubblegumSans-Regular.ttf)
}

@font-face{
    font-family: Roboto;
    src:url(Fonts/Roboto/Roboto-Regular.ttf)
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

@media screen and (max-width: 600px){
    .userProfile .profileBox {
        visibility:hidden;
    }

    .menuButton {
        visibility: visible;
    }

    .popUp {
        width:10%;
    }

}
